body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav {
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #007BFF;
}

.contact-info {
    font-size: 16px;
    color: #333;
}

.contact-info i {
    margin-right: 5px;
}

.price {
    text-align: center;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

/* Estilos generales para las tarjetas */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de sombra cuando el mouse pasa sobre la tarjeta */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}